{% extends 'accounts/BaseLogin.html' %}
{% load static %}

{% block content %}
<div class="iceblock">
	<div class="content-w3ls">
		<div class="text-center">
			<h1>Password Reset</h1>
		</div>
		<div class="content-bottom">
			<p>Enter your email address below, and we’ll email instructions for setting a new one.</p>

			<form class="form" method="POST">
				{% csrf_token %}
				<div class="field-group">
					<span class="fa fa-envelope" aria-hidden="true"></span>
					<div class="wthree-field">
						{{form.email}}
					</div>
				</div>
				<span class="err" ><p>{{ form.email.errors.as_text }}</p></span>
				<div class="wthree-field">
					<button type="submit" class="btn" id="login-button">Send me an email</button>
				</div>
				
			</form>

			<span class="text-center err" >
				{% for message in messages %}
					<p>{{ message }}</p>
				{% endfor %}
			</span>

			<div class="login-navigation text-center">
				<p><a href="{% url 'login' %}">Back to Login</a></p> 
				<div class="homeicon text-center" >
					<a href="{% url 'home' %}"><span class="fa fa-home" aria-hidden="true"></span></a>
					<span class="home">Home</span>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
