{% extends 'accounts/BaseLogin.html' %}
{% load static %}

{% block content %}

<div class="wrapper">
	<div class="container">

		<h1>Password Reset</h1>
		<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

		<form method="POST" action="">
			{% csrf_token %}
			{{form}}
			<button type="submit">Send me an email</button>
		</form>
		{% for message in messages %}
			<p>{{ message }}</p>
		{% endfor %}

		<div class="login-navigation">
			<a href="{% url 'login' %}">Back to Login</a>
			<a href="{% url 'home' %}">Home</a>
		</div>
	</div>
</div>
{% endblock %}