{% extends 'accounts/BaseLogin.html' %}
{% load static %}

{% block content %}
<div class="wrapper">
	<div class="container">

		<h1>Enter a new password</h1>
		<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

		<form method="POST" action="">
			{% csrf_token %}
			{{form}}
			<button type="submit">Change my password</button>
		</form>
		{% for message in messages %}
			<p>{{ message }}</p>
		{% endfor %}

		<div class="login-navigation">
			<a href="{% url 'home' %}">Home</a>
		</div>
	</div>
</div>


{% endblock %}