{% extends 'accounts/BaseLogin.html' %}
{% load static %}

{% block content %}
<div class="iceblock">
	<div class="content-w3ls">
		<div class="text-center">
			<h1>Your password has been set!</h1>
		</div>
		<div class="content-bottom">
			<div class="login-navigation text-center">
				<p>You may go ahead and log in now.</p><p><a href="{% url 'login' %}">Login</a></p> 
				<div class="homeicon text-center" >
					<a href="{% url 'home' %}"><span class="fa fa-home" aria-hidden="true"></span></a>
					<span class="home">Home</span>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


