{% extends 'accounts/BaseLogin.html' %}
{% load static %}

{% block content %}

<div class="iceblock">
	<div class="content-w3ls">
		<div class="text-center">
			<h1>Registration</h1>
		</div>
		<div class="content-bottom">

			<form class="form" method="POST">
				{% csrf_token %}

					<div class="field-group">
						<span class="fa fa-user" aria-hidden="true"></span>
						<div class="wthree-field">
							{{form.username}}
						</div>
					</div>
					<span class="err" ><p>{{ form.username.errors.as_text }}</p></span>

					<div class="field-group">
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<div class="wthree-field">
							{{form.email}}
						</div>
					</div>
					<span class="err" ><p>{{ form.email.errors.as_text }}</p></span>

					<div class="field-group">
						<span class="fa fa-unlock-alt" aria-hidden="true"></span>
						<div class="wthree-field">
							{{form.password1}}
						</div>
						<span id="regtog" class="fa fa-eye" onclick='pwtoggle("regpw1", "regtog")'></span>
					</div>
					<span class="err" ><p>{{ form.username.password1.as_text }}</p></span>

					<div class="field-group">
						<span class="fa fa-lock" aria-hidden="true"></span>
						<div class="wthree-field">
							{{form.password2}}
						</div>
						<span id="regtog2" class="fa fa-eye" onclick='pwtoggle("regpw2", "regtog2")'></span>
					</div>
					<span class="err" ><p>{{ form.password2.errors.as_text }}</p></span>
				
				<div class="wthree-field">
					<button type="submit" class="btn" id="login-button">Register</button>
				</div>
				
			</form>

			<span class="text-center err" >
				{% for message in messages %}
					<p>{{ message }}</p>
				{% endfor %}
			</span>

			<div class="login-navigation text-center">
				<p>Already have an account? <a href="{% url 'login' %}">Login</a></p> 
				<div class="homeicon text-center" >
					<a href="{% url 'home' %}"><span class="fa fa-home" aria-hidden="true"></span></a>
					<span class="home">Home</span>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var fields = document.getElementsByTagName('input')
	fields[1].placeholder='Enter the username'
	fields[2].placeholder='Enter the email address'
	fields[3].placeholder='Enter the password'
	fields[3].id = 'regpw1'
	fields[4].placeholder='Re-enter the password'
	fields[4].id = 'regpw2'
</script>

{% endblock %}

