{% extends 'accounts/BaseLogin.html' %}
{% load static %}

{% block content %}

<div class="wrapper">
	<div class="container">

		<h1>Register here</h1>

		<form method="POST" action="">
			{% csrf_token %}
			{{form.as_p}}
			<button type="submit">Register</button>
		</form>
		{% for message in messages %}
			<p>{{ message }}</p>
		{% endfor %}

		<div class="login-navigation">
			<p>Already have an account? <a href="{% url 'login' %}">Login</a></p> 
			<a href="{% url 'home' %}">Home</a>
		</div>
	</div>
</div>

{% endblock %}