body{
	background: #388EE9;
	background-repeat: no-repeat;
	background: -webkit-linear-gradient(top left, #388EE9 0%, #09EBEE 100%);
	background: -moz-linear-gradient(top left, #388EE9 0%, #09EBEE 100%);
	background: -o-linear-gradient(top left, #388EE9 0%, #09EBEE 100%);
	background: linear-gradient(to bottom right, #388EE9 0%, #09EBEE 100%);

}
.iceblock {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
	position: relative;
	margin-bottom: 0;
}

.iceblock:before {
    content: '';
    position: absolute;
    top: -10%;
    left: 25%;
    right: 25%;
    bottom: -10%;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
}

.iceblock:after {
	content: " ";
	position: absolute;
    top: -11%;
    left: 25%;
    right: 25%;
    bottom: -11%;
	border: 1px solid #b2beb5;
    border-radius: 25px;
    filter: blur(1px);

}

.content-w3ls {
    max-width: 500px;
    margin: 6em auto;
}

.text-center {
    text-align: center;
}
.content-bottom {
    padding: 0em 4em;
    margin: 0 1em;
	position: relative; 
    z-index: 1;
}
form .field-group {
    background: rgba(255, 255, 255, 0.15);
    display: flex;
    display: flex;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    margin-bottom: 20px;
    padding: 2px 10px 2px 0;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
}

form .field-group span {
    flex: 1;
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    width: 20%;               /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    color: #fff;
    background: transparent;
    line-height: 49px;
    text-align: right;
}
form .field-group .wthree-field {
    flex: 4 50%;
    -webkit-box-flex:4 50%;     /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 4 50%;        /* OLD - Firefox 19- */
    -webkit-flex: 4 50%;          /* Chrome */
    -ms-flex: 4 50%;             /* IE 10 */
}

.wthree-field button.btn {
    background: #1167b1;
    border: none;
    color: #58CCED;
    padding: 11px 15px;
    text-transform: uppercase;
	font-family: 'Mukta', sans-serif;
    font-size: 16px;
	width:100%;
	margin-top:10px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
	box-shadow: -3px 8px 10px #072F5F;
}
.field-group:hover, .wthree-field button.btn:hover{
	transform: translate(2px, -2px);
	transform: scale(1.05);
}

.err{
	color: #ba2127;
}
.home{
	display: block;
	font-size: 1rem;
	margin-top: -10px;
}
.homeicon{
	margin-top: 50px;
	display: block;
	font-size: 3rem;
	color:#ddd;
}

.wthree-field input {
    padding: 15px 0 10px 15px;
    font-size: 17px;
    font-weight: 300;
	color:#ddd;
    letter-spacing: 1px;
    border: none;
    background: transparent;
    box-sizing: border-box;
	font-family: 'Mukta', sans-serif;
    width: 100%;
    outline: none;
}
.login-navigation{
	margin-top: 30px;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}


/* -- Responsive code -- */
@media screen and (max-width: 1680px) {
    .content-w3ls {
        margin: 4em auto;
    }
    .content-bottom {
        
        margin-bottom: 20%;
    }
    .iceblock:before {
    content: '';
    position: absolute;
    top: 8%;
    left: 30%;
    right: 30%;
    bottom: -5%;

	}
	.iceblock:after {
    content: '';
    position: absolute;
    top: 8%;
    left: 30%;
    right: 30%;
    bottom: -5%;
	}
	.iceblock{
		padding-top: 40px;
	}
}
@media screen and (max-width: 1080px) {
   
	.content-bottom {
        
        margin-bottom: 25%;
    }
    .iceblock:before {
    content: '';
    position: absolute;
    top: 8%;
    left: 20%;
    right: 20%;
    bottom: -5%;

	}
	.iceblock:after {
    content: '';
    position: absolute;
    top: 8%;
    left: 20%;
    right: 20%;
    bottom: -5%;
	}
	.iceblock{
		padding-top: 15px;
	}
}

@media screen and (max-width: 700px) {


    .iceblock:before {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: -5%;

	}
	.iceblock:after {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: -5%;

	}
	.iceblock{
		padding-top: 20px;
	}
    
    .content-w3ls {
        margin: 20%, 25%;
    }

	.icon {
		margin-bottom: 2em;
	}
	.icon span.fa {
		font-size: 40px;
	}
	.content-bottom {
        
        margin-bottom: 119px;
    }

}

@media screen and (max-width: 568px) {
    .content-bottom {
        padding: 2em 2.5em;
        margin-bottom: 25%;
    }
	.content-w3ls {
		margin: 3em auto 2em;
		max-width: 450px;
	}
	.iceblock{
		padding-top: 25px;
	}
	.iceblock:before {
    content: '';
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: -5%;

	}
	.iceblock:after {
    content: '';
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: -5%;

	}
}


@media screen and (max-width: 415px) {

    .iceblock{
    	margin-top: 80px;
    }
    .iceblock:before {
    content: '';
    position: absolute;
    top: -5%;
    left: 5%;
    right: 5%;
    bottom: -5%;

	}
	.iceblock:after {
    content: '';
    position: absolute;
    top: -5%;
    left: 5%;
    right: 5%;
    bottom: -5%;

	}
	

	form .field-group {
		padding: 0px 10px 0px 0;
	}
	.wthree-field button.btn {
		font-size: 15px;
	}

}

@media screen and (max-width: 384px) {
    .content-bottom {
		padding-bottom: 2em;
		margin-bottom: 50px;
	}
	.content-w3ls{
		padding-top: 0;
	}

}