.tableadm{
	white-space: nowrap;
}
#admintable tr td{
	border-right-width: 3px;
}
#admintable tr th{
	border-width: 2px;
}
.alert{
	margin-left: 50%;
	transform: translateX(-50%);
	align-self: center;
	display: inline-block;
}
#searchbtn-bt{
	background-color: #0C1559;
}
#tabletop{
	margin-bottom: 10px;
	display: flex;   
  justify-content: space-between;
}
#searchboxbtn{
	display: flex;
	margin-top: 5px; 
}
#searchbar{
	margin-left: 4px;
	margin-right: 4px;
}
.dropdown{
	margin-top: 5.5px;
	margin-left: 4px;
	margin-right: 4px;
}

#topheading h1{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 20px;
	color: #040273;
}

.tablewrap{
	width:100%;
	overflow:auto;
	
}
.tablecontainer{
	position:relative;
	margin-left: 5%;
	margin-right: 5%;	
	overflow:hidden;

}
.trhover:hover{
	color: rgb(200,200,255) !important;
	font-weight: ;
}
.tableadm button {
  width: 220px;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 20px;
  font-weight: 600;
  outline: 0;
  padding: 16px 18px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transform: scale(0.6);
}

td, th{
	vertical-align: middle;
}

.tableadm button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.tableadm button:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(0.63);
}

.bluebt{
	background-color: #0078d0;
}

.redbt{
	background-color: #A5015D;
}
#advadm{
	display: flex;
	padding: 10px;
	margin-left: 50%;
	transform: translateX(-50%);
}
#advadm span{
	display: inline-block;
	padding: 2px;
	border-style: outset;
	
}
@media screen and (max-width: 900px) {
	#advadm{
	display: block;
	min-width: 200px;
	padding: 10px;
	margin: auto;
	transform: translateX(0);
	overflow: hidden;
	}
#advadm span{
	display: inline-block;
	padding: 2px;
	align-items: center;
	overflow: hidden;
	}
	#admbtn{
	min-width: 216px;
	margin-left: 50%;
	transform: translateX(-50%);
	}
}

@media only screen and (max-width: 900px) and (min-width: 580px){
	#admdec{
		margin-left: 50%;
		transform: translateX(-50%);
	}
}

