#footer{
	background: #003366;
	color: #888;
	padding: 6em 0em 4em;
}

#footer h2, #footer h3, #footer h4 {
	color: #ffffff;
}

#footer a {
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	color: #888;
	text-decoration: none;
}

#footer a:active, #footer a:hover {
	color: #ffffff;
}

#footer .copyright {
	font-size: 0.9em;
	margin: 2em 0 0 0;
	padding: 0;
	text-align: center;
}
.copyright li{
	margin-left: 0 !important;
}

.copyright li, #contactinfo li{
	border: none !important;
	padding: 0  !important;
}
#contactinfo li{
	margin-left: -20px !important;
	display: block !important;
}

#footer li {
	border-left: solid 3px rgba(255, 255, 255, 0.35);
	display: inline-block;
	list-style: none;
	margin-left: 1.5em;
	padding-left: 1.5em;
}
.row{
	display: flex;
}
.bot{
	padding-left: 15px;
	padding-top: 10px;
	padding-right: 5px;
	max-width: 33%;
	border-left:solid 3px rgba(0,0,205,.5);
	border-right:none;
	border-top: none;
	border-bottom: none;
}
@media screen and (max-width: 1000px) {
	.bot{
		max-width: 100%;
		border-left:none;
		border-right:none;
		border-top: solid 1px rgba(0,0,205,.5);
		border-bottom: solid 1px rgba(0,0,205,.5);
	}	
} 
.navbar-toggler{
	background-color: rgba(100,100,100,.5) !important;

}