#homeContacts{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
#contactTBhome a{
	color: black !important;
	text-decoration: none !important;
}
#contactTBhome a:hover{
	color: #aaa !important;
}
#HomecontactSearchWrap{
	display: flex;
}
#Homecontactsearchbar{
	max-width: 200px;
}
#homeTable{
	max-height: 200px !important;
}
#howToUse{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}