
.bg-navbarimage{
	background-size:100% auto;
}
.shadow{
	color: black !important;
	background-color: rgba(255,255,255,.7)!important;
	box-shadow: 0 .5rem 1rem rgba(255,255,255,.35)!important;
	border-radius: 10px;
}
.navbox{
	background-color: rgba(0,0,0,.4);
	box-shadow: 0 .5rem .5rem rgba(255,255,255,.15);
}
.navbar-nav .nav-link{
	padding-left: 20px !important;
	padding-right: 20px !important;

}
