{% extends 'main.html' %}
{% load static %}

{% block content %}
<div id="topheading">
	<span><h1>Hello {{ request.user.first_name }}! Welcome to the admin panel.</h1></span>
</div>
{% for message in messages %}
	<div class="alert alert-danger"><p>{{ message }}</p></div>
{% endfor %}

<div class="tablecontainer">
	<div id="tabletop">
		<div id="searchboxbtn"> <input id="searchbar" input class="form-control" type="search" aria-label="Search" placeholder="Name or Username"><button type="button" id="searchbtn-bt" class="btn btn-dark" onclick="searchname()">Search</button></div>
		<div class="dropdown"> 
			<button id="filters" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Filters</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
				<li><button class="dropdown-item" onclick="filterusers('all')">All Users</button></li>
				<li><button class="dropdown-item" onclick="filterusers('pub')">Public Users</button></li>
				<li><button class="dropdown-item" onclick="filterusers('stf')">Non-Admin Staff Users</button></li>
				<li><button class="dropdown-item" onclick="filterusers('adm')">Admins</button></li>
			</ul>
		</div>
	</div>

	<div class="tablewrap">
		<form method="post" action="">{% csrf_token %}
			<table id="admintable" class="table table-dark table-striped tableadm">
				<thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Username</th>
				      <th scope="col">Name</th>
				      <th scope="col">Email</th>
				      <th scope="col">Staff User Status</th>
				      <th scope="col">Admin User Status</th>
				    </tr>
			  	</thead>
			  	<tbody>
			  	{% for user in users %}
				  	<tr class="trhover">
				      <th scope="row">{{ forloop.counter }}</th>
				      <td>{{ user.username }}</td>
				      <td>{{ user.get_full_name }}</td>
				      <td>{{ user.email }}</td>
				      
				      <td>{{ user.is_staff}} {% if user.is_staff %}<button name="{{ user.username }}"  type="submit" class="redbt">Remove from staff</button>{% else %}<button name="{{ user.username }}"  type="submit" class="bluebt">Make staff user</button>{% endif %} </td>
				      
				      <td>{{ user.is_superuser}} {% if user.is_superuser %}<button name="{{ user.username }}adm" type="submit" class="redbt">Remove from admin</button>{% else %}<button name="{{ user.username }}adm" type="submit" class="bluebt">Make admin user</button>{% endif %}</td>
				    </tr>
			 	{% endfor %}
			 	</tbody>
			</table>
		</form>
	</div>
</div>

<div id="advadm">
	<span id="admbtn"><a href="admin"><button class="btn btn-danger">Advanced Admin Options</button></a> </span>
	<span id="admdec"><p>Please do not access the 'advanced admin options' if you are not familiar with Django Administration Panel!</p></span>
</div>

<script type="text/javascript">
	window.onload = navbarselect("adm");
	window.onload = function(){
		document.getElementById("searchbar").addEventListener("keyup", function(event) {
		    event.preventDefault();
		    if (event.keyCode === 13) {
		        searchname();
		    	}
		});
	}

    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>

{% endblock %}