{% extends 'main.html' %}
{% load static %}

{% block content %}

<h1>This is home of Covid Status Tracker</h1>

{% for message in messages %}
	<div class="alert alert-primary"><p>{{ message }}</p></div>
{% endfor %}

{% if user.is_anonymous %}
	<p>Please <a href="{% url 'login' %}">login</a> to use all the features</p>
{% else %}
	<p> Hello {{ request.user.get_full_name }}!</p>
{% endif %}

<img src="{% static 'images/home.png' %}">

<h1>How to use Covid Status Tracker</h1>

<h1>Contact Lists</h1>

<script type="text/javascript">
	window.onload = navbarselect("home")
</script>

{% endblock %}
