{% load static %}
<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	<!-- Header -->
		<header id="header">
			<h1>This is header</h1>
			<nav id="nav">
				<h2>This is the navigation bar</h2>
				<ul>
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="{% url 'tracker' %}">Symptom Tracker</a></li>
					<li><a href="{% url 'map' %}">Map</a></li>
					<li><a href="{% url 'login' %}">Login/Register</a></li>
					<li><a href="{% url 'logout' %}">Logout</a></li>
				</ul>
				
			</nav>
		</header>

<hr>

	{% block content %}

	{% endblock %}


<hr>
	<!-- Footer -->
			<footer id="footer">
				<h1> This is Footer</h1>
			</footer>
</body>
</html>